@import (inline) "normalize.min.css";
@import "lesshat.less";

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@cdarktext : #303030;
@ctextcopy: #b4b4b4;
@clgrey : #dcdcdc;

@clinestroke : #333;

@cedition : #e95474;
@cidentite : #ffd366;
@cnumerique : #b4e0f9;
@cobjet : #dae291;
@capropos : #24CEC2;

@cmemoire : #FFD366;
@ctypo3D : #DAE291;
@cgoutte : #DAE291;
@cillustrations: #DAE291;
@cfourberies : #E95474;
@cministere : #E95474;
@cinfluencedeslivres : #E95474;
@cbenoitgaignard : #E95474;
@ctrendiseases : #E95474;
@cphotomaton : #FFD366;
@cseries : #FFD366;
@cvilles: #FFD366;
@cairfrance : #E95474;
@ctroishommes : #DAE291;
@calice : #E95474;
@cmacu : #FFD366;

@phone-only:    ~"only screen and (max-width: 767px)";
@tablet:    ~"only screen and (min-width: 768px)";
@tablet-only:    ~"only screen and (max-width: 1024px)";
@desktop:    ~"only screen and (min-width: 1025px)";
@ldesktop:    ~"only screen and (min-width: 1250px)";

html,
button,
input,
select,
textarea {
    color: @cdarktext;
}

html {
    font-size: 1em;
    font-size: 16px;
    line-height: 1.4;
}

::-moz-selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}

.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

h1, h2, h3 {
	margin-top: 0;
	.audimat-reg;
}


/* ==========================================================================
									Page Emilie
   ========================================================================== */


/* Typographie*/

@font-face {
    font-family: 'audimatregular';
    src: url('../font/audimat-regular-webfont.eot');
    src: url('../font/audimat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/audimat-regular-webfont.woff') format('woff'),
         url('../font/audimat-regular-webfont.ttf') format('truetype'),
         url('../font/audimat-regular-webfont.svg#audimatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
@font-face {
    font-family: 'audimatbold';
    src: url('../font/audimat-bold-webfont.eot');
    src: url('../font/audimat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/audimat-bold-webfont.woff') format('woff'),
         url('../font/audimat-bold-webfont.ttf') format('truetype'),
         url('../font/audimat-bold-webfont.svg#audimatregular') format('svg');
    font-weight: bold;
    font-style: bold;
}
*/


.audimat-reg {
    font-family: 'audimatregular';
    font-weight: normal;
}
/*
.audimat-bold {
    font-family: 'audimatbold';
    font-weight: bold;
}
*/



/* DEBUG : ajout de couleur aux éléments */

//*:nth-child(n) { background-color: rgba(255,0,0,.2); }


html, body {
	min-height: 100%;
}


body {
	.audimat-reg;
}

html {
    font-size: 1em;
    font-size: 16px;
    line-height: 1.4;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: #E67011;

	&:hover, &:visited {
	    color: #303030;
	}
}


img {
	display: block;
}


body.is-busy {
	overflow: hidden;
	pointer-events: none;

}


.conteneur {

  width: 90%;
  max-width: 950px;
  margin: auto;

	@media only screen and (min-width: 889px) {
	    max-width: 800px;
	}
	@media only screen and (min-width: 1111px) {
	    max-width: 1000px;
	}
	@media only screen and (min-width: 1334px) {
	    max-width: 1000px;
	}

}

.conteneurProjet article {
	width: auto;
	margin: 0 46px;
}


article {
	padding: 0;
	margin: 0;

	transition: height 1s ease-in, padding-top 1s ease-in;
}

h1 {
	font-size:2em;
	font-size: 20px;
	letter-spacing: 0.5px;

}

p, ul {
	font-size:1.2em;
	font-size: 16px;
	list-style: none;

}

[data-categorie="apropos"] ul {
	padding: 0;
}

.offscreenDump {
	position: absolute;
	top: -1000px;
	left: -1000px;
	display: none;
}

/* ==========================================================================
									En tête et menu textuel
   ========================================================================== */


#entete {
	position:relative;
	top:0;
	margin:auto;
	text-align: center;
	// 290 + 60
	height: 350px;
	z-index: 150;


	.is-project & {

		&.is-sticky {

			.conteneurEntete {
				position: fixed;
				border-bottom: 4px solid #fff;
				top:0;
			}
		}
		.conteneurEntete {
		}

		.conteneurEntete {


		}
	}

	.conteneurEntete {
		position: absolute;
		.conteneur;
		width: 100%;
		padding-top: 160px;
		margin-top:-60px;
		padding-bottom: 100px;
		background-color: #fff;
		border-bottom: 0px solid #fff;
		transition: border .4s;
	}

	.containerLogoTagline {

		width: 93.75%;
		max-width: 300px;
		margin:auto;
		border-bottom: 1px solid @clgrey;

		#logo{
			position: relative;
			left: 0;
			top:0;
			height: 51px;

			margin: auto;
			margin-bottom: 4px;

			path, polygon, rect {
				fill: #303030;
			}
		}


		.tagline {
			font-size: 18.15px;
			font-weight: normal;
			margin-left: -10px;
			margin-right: -10px;

			a {
				color: @capropos;
			}
		}


	}
	.listCategories {

		width: 90,00%;
		max-width: 500px;
		height: 50px;
		position: relative;
		margin:auto;

		ul,li {
			margin: 0;padding: 0; font-size: 0; line-height: 0;
		}

		// le bloc des catégories, qui sera fixed
		.itemList {
			max-width: 500px;
			width: 100%;
			position: absolute;
			top:0;
			z-index: 14;

		}

		.categorie {

			&.edition {
				color: @cedition;

				&.is-selected {
					background-color: @cedition;
				}
			}
			&.identite {
				color: @cidentite;
				&.is-selected {
					background-color: @cidentite;
				}
			}
			&.numerique {
				color: @cnumerique;
				&.is-selected {
					background-color: @cnumerique;
				}
			}
			&.objet {
				color: @cobjet;
				&.is-selected {
					background-color: @cobjet;
				}
			}

			&.is-selected {
				color: #fff;
			}

		}

		.item {

			display: inline-block;
			margin-top: 11px;
			padding: 8px 14px;
			font-size: 1rem;
			line-height: 1.4;

			.inlinesvg.js & {
				cursor: pointer;
			}

			a {
				text-decoration: none;
				color: #303030;
			}

			@media @phone-only {
				padding: 8px 12px;
			}

		}

	}
}


/* ==========================================================================
						Conteneur de l'article et article
   ========================================================================== */

.js .conteneurProjet {
	position: relative;
	height: 0px;
	overflow: hidden;

	transition: height 0s, margin-bottom .6s ease-out, background-color 0s ease-out;

	&.is-loading {
		height: 200px;
		margin-bottom: 50px;
		transition: height .4s linear, margin-bottom .6s ease-out, background-color 0s ease-out;
	}

	&.is-filling {
		height: 1440px;
		margin-bottom: 50px;
		transition: height .4s linear;
	}
	&.is-filled {
		height: auto;
		margin-bottom: 50px;
		transition: height 0s;
	}

}

.conteneurProjet.is-loading article.projet {
	background-color: transparent;
	transition: background-color 0s ease-out;
}


article.projet {
	padding-top:50px;
	padding-bottom:0;
	margin-bottom: -10px;
	background-color: #fff;

	transition: background-color .4s ease-out;
}


.conteneurProjet .border {
	position: absolute;
	width: 100%;

	border-bottom: 4px solid @clgrey;
	height: 2px;

	z-index: 13;

	&.borderTop {
		top:0;
		background-color:white;

		display: none;

	}
	&.borderBottom {
		bottom:0;
	}
}





.conteneurProjet svg {
	display: block;

	position: absolute;

	top:0;

	width: 100%;
	height: 200px;
	padding: 0px;
	overflow: hidden;
	margin: auto;
	opacity: 0;

	fill: #fff;
	stroke: transparent;

	transition: opacity 1s;

	line {
		stroke: transparent !important;
	}
	circle {
		fill: transparent !important;
	}

}

.conteneurProjet img {

	opacity: 1;
	.transition( opacity .4s ease-out, filter .8s linear);


	&.is-hidden {
		opacity: 0;
	}

	&.is-first {
	.filter( grayscale(0%) );

		&.is-hidden {
			.filter( grayscale(100%) );
		}
	}
}


/* ==========================================================================
								Menu avec icônes
   ========================================================================== */

.grilleIcones{

	display: block;
	width: 100%;
	font-size: 0;
	line-height: 0;

	@media @phone-only {
		text-align: center;
	}

}

.grilleIcones .apercu {

	display: inline-block;
	position: relative;
	font-size: 0;

	margin: 0;

	width: 200px;
	height: 200px;
	padding: 0px;
	overflow: hidden;

	transition: background-color 1.5s, width 1s;

	.ink {
		display: block; position: absolute;
		background: transparent;
		border-radius: 100%;
		transform: scale(0);
		z-index: -1;
	}
	/*animation effect*/
	.ink.animate {
		.transform( scale(3) );
		transition: transform .6s ease-out;
	}

	svg {
		width: 200px;
		height: 200px;
		transition: 1s;
	}

	&.is-active, &.is-filtered {

		// cercles
		circle {
			fill:transparent !important;
			transition: 0s;
		}

		// lignes
		line {
			stroke: transparent !important;
			stroke-width: 1px ;
			transition: 0s;
		}

		// lettres
		.polygones path, .polygones rect, .polygones polygon {
			fill: #fff;
			stroke-width:1.2px;

			.animation( strokeColor .4s );
		}

		.keyframes(~'strokeColor, 0%{ stroke: transparent !important } 5%{ stroke: #fff } 100%{ stroke: transparent !important }');

		// svg complet
		svg {
			.transform( translate(0,-10px) );
			transition: 1s 0s;
		}

		.titreUp;

	}

	.touch & {

		.titreUp;

	}

	.titreUp {

		.titreProjet {
			bottom:5px;
			opacity: 1;
			transition: bottom .5s .2s, opacity .4s;

			h3 {
				margin: 0;
				margin-bottom: 5px;
				transition: margin .4s;
			}
		}

	}

	&.is-active {
		transition: background-color 0s;
	}

	&.is-filtered {
		transition: background-color 1s, width 1s;

		.polygones path, .polygones rect, .polygones polygon {
			fill: transparent;
			stroke: #fff;
		}

		&.is-active {
			.polygones path, .polygones rect, .polygones polygon {
				fill: #fff;
				stroke: #fff;
				stroke-width:1.2px;

				.animation( strokeColor .1s );
			}
		}
	}

	&.is-current {

		circle {
			fill:transparent !important;
			stroke:transparent !important;
		}

		path, rect, polygon {
			fill:transparent !important;
			stroke:#fff !important;
		}
	}

	&.is-viewed {
		circle {
			fill:transparent !important;
		}
		line {
			stroke: transparent !important;
		}
		path, rect, polygon {
			stroke: transparent !important;
			stroke-width: 0px !important;
		}
	}
	&.is-viewed {
		background-color: transparent !important;

	}


	circle {
		fill:#fff;
		color: #fff;
		stroke: #fff;
		stroke-width: 0;
		z-index: 0;
		transition: 1s;
	}
	line {
		stroke-miterlimit: 10;
		color: #fff;
		stroke: #fff;
		z-index: 0;
		transition: 1s;
	}

	path, rect, polygon {
		fill: transparent;
		stroke: transparent;
		z-index: 0;
		transition: fill .4s, stroke 0s;
	}

}

.apercu .titreProjet {
	position: absolute;
	display: block;
	bottom:-70px;
	left:0;
	color: #fff;

	font-size: 14px;
	line-height: 1.41;
	font-weight: normal;

	width: 200px;
	padding: 0 10px;

	opacity: .4;

	text-align: center;
	transition: bottom .6s, opacity .2s;

	h3 {
		text-transform: lowercase;
		margin-bottom: -20px;
		.audimat-reg;

		transition: margin .4s;
	}
}


/* ==========================================================================
									Projets
   ========================================================================== */

.js {

	.styleApercu( @categorie, @color ) {
		.grilleIcones .apercu[data-categorie = @{categorie}] {

			color: @color;
			stroke: @clinestroke;

			&.is-active {
					.ink {
						background-color: @color;
					}
			}

			&.is-filtered:not(.is-viewed) {
				background-color: @color;
			}
			&.is-viewed {
				path,rect, polygon {
					fill: @color !important;
				}

				.titreProjet {
					color: @color;
				}
				&.is-active {

					.ink {
						background-color: transparent;
					}
				}

			}
		}
	}

	.styleApercu( 'edition', @cedition );
	.styleApercu( 'identite', @cidentite );
	.styleApercu( 'numerique', @cnumerique );
	.styleApercu( 'objet', @cobjet );
	.styleApercu( 'apropos', @capropos );

}

.no-inlinesvg {

	.styleApercu( @categorie, @color ) {
		.grilleIcones .apercu[data-categorie = @{categorie}] {

			background-color: @color;

		}
	}

	.styleApercu( 'edition', @cedition );
	.styleApercu( 'identite', @cidentite );
	.styleApercu( 'numerique', @cnumerique );
	.styleApercu( 'objet', @cobjet );

}

.no-js {

	.styleApercu( @categorie, @color ) {
		.grilleIcones .apercu[data-categorie = @{categorie}] {

			line {
				stroke: #000;
			}
			circle {
				fill: @color;
			}

		}
	}

	.styleApercu( 'edition', @cedition );
	.styleApercu( 'identite', @cidentite );
	.styleApercu( 'numerique', @cnumerique );
	.styleApercu( 'objet', @cobjet );

}

/* ==========================================================================
								Pages projets
   ========================================================================== */

article.projet {
}

article.projet img {
	max-width: 100%;
	height: auto;

}

.styleArticle( @categorie, @color ) {
	article.projet[data-categorie = @{categorie}] {

		figure {
				background-color: @color;
		}

	}
}

.styleArticle( 'edition', @cedition );
.styleArticle( 'identite', @cidentite );
.styleArticle( 'numerique', @cnumerique );
.styleArticle( 'objet', @cobjet );


//article.projet[data-categorie = edition]

figure {
	margin-bottom: 60px;

}

.groupeimg {

	.clearfix();
	margin-right: -5px;
	margin-left: -5px;
	margin-bottom: 60px;

	> * {
		display: block;
		float:left;
		border: 5px solid white;
		margin-bottom: 0;
	}

}

.groupeimg.troisCol + .groupeimg.troisCol {
	margin-top: -60px;
}

.colonnes {
	.clearfix();
	margin-bottom: 50px;
	> .deux {
		display: block;
		width: 33.33%;
		float:left;
		border-top: 0px !important;
		border: 20px solid #fff;
	}
}

.groupeimg .un {
	width: 16.66%;
}

.groupeimg .unquatre {
	width: 25%;
}

.groupeimg.troisCol > * {
	width: 33.33%;
}


.groupeimg .trois {
	width: 50%;
}

.groupeimg .quatre {
	width: 66.66%;
}

.groupeimg .cinq {
	width: 83.55%;
}

.groupeimg .six {
	width: 100%;
}

.gauche {
	width: 33%;
	margin-right: 1%;
}

.droite {
	width: 66%;
}

.infos {
	margin-bottom: 5%;
}

.titre {

	display: block;
	font-size : 1.2rem;
	font-size: 26px;

  letter-spacing: 0.2px;

}

.reduit {
//	max-width: 850px;
//	margin:auto;
}

.projet a {
	border-bottom: 2px solid;
}

.texte p, .texte ul {

	display: block;
	vertical-align: top;

	font-size: 24px;
	line-height: 30px;
	margin-bottom: 60px;
	color: @ctextcopy;
}

.texte ul {
	padding: 0;
	margin-top:0;
	margin-bottom: 0;
	margin-left: 0;
}

// infos sous le texte
.texte .infos {
	color: @ctextcopy ;
	font-size: 16px;
	margin-top: -30px;
	text-align: right;
	margin-bottom: 60px;
}


a[href$=".pdf"]:after, a[href$=".doc"]:after {
  font-size: .5em;
  margin-left: 3px;
	vertical-align: super;
  line-height: 1;
}

a[href$=".pdf"]:after {
  content: "pdf";
}

a[href$=".doc"]:after {
  content: "doc";
}

.texte .infos.couleur {


}


.styleArticle( @categorie, @color ) {
	article.projet[data-categorie = @{categorie}] {

		a {
				color: @color;
				border-color: @color;
		}
		.titre {
				color: @color;
		}
		.infos.couleur {
				color: @color;
		}

	}
}

.styleArticle( 'edition', @cedition );
.styleArticle( 'identite', @cidentite );
.styleArticle( 'numerique', @cnumerique );
.styleArticle( 'objet', @cobjet );
.styleArticle( 'apropos', @capropos );




/* ==========================================================================
									À propos
   ========================================================================== */



.dates {
	font-weight: normal;
	font-size: 15px;
}

.lieu {
	font-weight: normal;
	font-size: 18px;
  letter-spacing: 0.2px;
/* 	line-height: 20px; */
}

.lead {
	color: #24CEC2;
}

.description{
font-size: 15px;
/* 	line-height: 18px; */
}

[data-categorie="apropos"] h2{
	margin-bottom: 6%;
}

[data-categorie="apropos"] .dernier {
	margin-bottom: 15%;
}

[data-categorie="apropos"] a {
	color:black;
}

[data-categorie="apropos"] a:hover {
	color:#EA5475;
}


/* ==========================================================================
								bas de page
   ========================================================================== */

.pied{
	margin-top: 60px;
	margin-bottom: 10px;
}

footer{
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

footer a {
		color: #303030;
}


/* ==========================================================================
								Animation
   ========================================================================== */
.js {
	#logo {
		opacity: 0;

		svg {
			overflow: visible;
		}
	}
	.tagline {
		opacity: 0;
	}
	#entete .containerLogoTagline {
		border-bottom-color: transparent;
	}
	.listCategories .item {
		opacity: 0;
	}
}
